*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.wrapper{
    min-width: 100vw;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: safe center;

    background-color: #323232;
    color: #D4D4D4;
}

.image-block{
    display: flex;
    justify-content: space-between;
    align-items: safe center;
}

.flex{
    display: flex;
}

.center{
    align-items: safe center;
    justify-content: safe center;
}

.column{
    flex-direction: column;
}

h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

span{
    width: 450px;
    font-size: 18px;
    text-align: center;
}

.QR{
    width: 300px;
    height: 300px;
    user-select: none;
}

.address{
    width: fit-content;
    font-size: 15px;
}

::selection{
    background: rgba(179, 212, 252, 0.5); 
    color: #FFFFFF;
}