*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    width: 400px;
    height: 400px;
}

.wrapper{
    width: 100%;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.main {
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.note-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;

    width: 100%;
    height: fit-content;
    max-height: 100%;
    overflow: auto;
}

.main div {
    margin: 5px;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

.add-btn{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: lightgrey;
    cursor: pointer;

    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.icon{
    width: 24px;
    height: 24px;
}

.icon-small{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.icon-block{
    gap:5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

.editor{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    background-color: white;
}

.viewer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    background-color: white;
}

textarea{
    width: 100%;
    height: 100%;
    border: 0;
    white-space: pre;
    resize: none;
}

button{
    cursor: pointer;
    width: 48px;
    height: 24px;
    margin: 5px;
}

.note {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
}

.note span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-break: break-all;
}